.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 500px;
  padding: 20px;
  color: white;
  text-align: center;
  background-image: url(./images/back3.jpg);
  background-repeat: repeat-y;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#but {
  color: black;
}
.text {
  float: left;
  margin-top: 100px;
  font-size: 50px;
  text-align: left;
  /* border: 2px solid red; */
  font-weight: bold;
  color: black;
}
.foot {
  height: 300px;
  margin-top: 220px;
  background-image: url(./images/new.jpg);
  background-position: center;
}

#wsearch {
  float: left;
  margin-top: 20px;
  margin-left: 95px;
  margin-bottom: 10px;
}
